<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @post.name %>
</p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>
<p> Tags</p>
  <%= join_tags(@post) %>
<h2>Comentarios</h2>
<% render @post.comments%>

<h2>Comentar</h2>
<%= render "comments/form" %>
  </br>

<%= link_to 'Edit post', edit_post_path(@post) %> |
<%= link_to 'Back to posts', posts_path %>
